<header>
  <nav class="container">
    <ul>
      <li>
        <a href="/" class="brand">
          <strong>
            {{ .Site.Title }}
          </strong>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/catalogue/"{{ if eq .Page.Layout "catalogue" }} aria-current="page"{{ end }}>Catalogue</a>
      </li>
      <li>
        <a href="/sites/"{{ if eq .Section "sites" }} aria-current="page"{{ end }}>Sites</a>
      </li>
      <li>
        <a href="#" id="theme-toggle" class="theme-toggle" aria-label="Toggle dark mode">
          {{ partial "icons/sun.html" }}
        </a>
      </li>
    </ul>
  </nav>
</header>
