{{ define "main" }}
<main class="container">
  <h1 class="page-title">{{ .Title }}</h1>
  <p class="page-subtitle">{{ .Params.description }}</p>
  <p class="page-description">{{ .Content }}</p>

  <div class="grid">
    {{ range sort .Pages ".Slug" }}
      {{ $key := replace .Slug "." "-" }}
      {{ $feeds := index site.Data.feeds $key }}
      {{ $wafCount := 0 }}
      {{ if $feeds }}
        {{ range $feeds }}{{ if .waf }}{{ $wafCount = add $wafCount 1 }}{{ end }}{{ end }}
      {{ end }}
      <article>
        <div class="site-name">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
      <div class="site-url"><a href="{{ .Params.domain }}">{{ .Slug }}</a></div>
        <div class="site-meta">
          <div><span class="feed-detail-label">Feeds</span> 
          {{ if $feeds }}
          <a href="{{ .RelPermalink }}">{{ len $feeds }}</a>
          {{ else }}
          0
          {{ end }}
          </div>
          <div><span class="feed-detail-label">Firewall</span>
          {{ with .Params.waf }}
          {{ $waf := index (where site.Data.wafs "key" .) 0 }}
          <a href="{{ $waf.link }}">{{ $waf.label }}</a>
          {{ else }}
          None / Unknown
          {{ end }}
          </div>
          <div><span class="feed-detail-label">Framework</span>
          {{ with .Params.framework }}
          {{ $framework := index (where site.Data.frameworks "key" .) 0 }}
          <a href="{{ $framework.link }}">{{ $framework.label }}</a>
          {{ else }}
          None / Unknown
          {{ end }}
          </div>
        </div>
      </article>
    {{ end }}
  </div>
</main>
{{ end }}
