{{ define "main" }}
<main class="container">
  <h1 class="page-title">{{ .Title }}</h1>
  <p class="page-subtitle">{{ .Params.description }}</p>
  <p class="page-description">{{ .Content }}</p>

  <div class="grid">
    {{ range sort .Pages ".Params.domain" }}
      {{ $slug := .File.ContentBaseName }}
      {{ $feeds := index site.Data.feeds $slug }}
      {{ $wafCount := 0 }}
      {{ if $feeds }}
        {{ range $feeds }}{{ if .waf }}{{ $wafCount = add $wafCount 1 }}{{ end }}{{ end }}
      {{ end }}
      <article>
        <div class="agency-name">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
      <div class="agency-url"><a href="{{ if .Params.canonical }}{{ .Params.canonical }}{{ else }}{{ .Params.domain }}{{ end }}">{{ .Params.domain }}</a></div>
        <div class="agency-meta">
          <div><span class="feed-detail-label">Feeds</span> 
          {{ if $feeds }}
          <a href="{{ .RelPermalink }}">{{ len $feeds }} total{{ if gt $feeds 1 }}s{{ end }}{{ with $wafCount }} · {{ . }} restricted{{ end }}</a>
          {{ else }}
          None
          {{ end }}
          </div>
          {{ with .Params.waf }}
          {{ $waf := index (where site.Data.wafs "key" .) 0 }}
          <div><span class="feed-detail-label">Firewall</span>
          <a href="{{ $waf.link }}">{{ $waf.label }}</a>
          </div>
          {{ end }}
          <div><span class="feed-detail-label">Generator</span>
          {{ with .Params.generator }}
          {{ $generator := index (where site.Data.generators "key" .) 0 }}
          <a href="{{ $generator.link }}">{{ $generator.label }}</a>
          {{ else }}
          Custom
          {{ end }}
          </div>
        </div>
      </article>
    {{ end }}
  </div>
</main>
{{ end }}
